* {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fefefe;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul, li {
    list-style: none;
}
